<!-- navbar.component.html -->
<div id="barrita-urgencias">
    <a href="tel:123456789">Línea de urgencias 24/7</a>
  </div>
  
  <nav class="navbar">
    <a routerLink="/" class="logo-with-name">
      <div class="logo">
        <img src="assets/images/CockerCabezaLogo.png" alt="Dooki Veterinaria" class="logo-img" />
      </div>
      <div class="title-dookie">
        <video id="logo-video" autoplay muted playsinline onended="this.pause();" class="name-img">
            <source src="assets/images/dooki-titulo.mp4" type="video/mp4">
            Tu navegador no soporta el elemento video.
          </video>
      </div>
    </a>
  
    <div class="nav-links">
      <a routerLink="/specialties" class="nav-button focus-in-expand-fwd">Especialidades</a>
      <a routerLink="/exotic" class="nav-button focus-in-expand-fwd">Animales Exóticos</a>
      <a routerLink="/whoweare" class="nav-button focus-in-expand-fwd">Nosotros</a>
      <a routerLink="/login" class="nav-button focus-in-expand-fwd">Iniciar Sesión</a>
    </div>
  </nav>
  